.containt{
    text-align: center;
}
.container-fluid{  
    
    background: linear-gradient(to right, #44ddd0, #27d7a1);
    height: 100vh;
}
h1{
    color: #7d287d;
}


// $turquoise: #44ddd0;
// $green: #27d7a1;
// $light-green: #45f69e;
// $dark-green: rgb(0, 100, 80)